<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <span>Bookers</span>
      </a>
        <button class="navbar-toggler" type="botton" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li><a class="glyphicon glyphicon-home home" href="/users/<%= current_user.id %>"> Home</a></li>
              <li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li>
              <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>
              <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
            <% else %>
              <li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>
              <li><a class="glyphicon glyphicon-about about" href="home/about"> About</a></li>
              <li><a class="glyphicon glyphicon-book books" href="/users/sign_up"> sign up</a></li>
              <li><a class="glyphicon glyphicon-log-in login" rel="nofollow" data-method="get" href="/users/sign_in"> login</a></li>
            <% end %>
          </ul>
        </div>
    </div>
  </nav>
</header>
<%= yield %>

<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>

</html>