<h2>User info</h2>
  <table class='table'>
    <tr>
      <% if @book.user == current_user %>
        <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <% else %>
        <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <% end %>
    </tr>
    <tr>
      <th>name</th>
      <th><%= @book.user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @book.user.introduction %></th>
    </tr>
  </table>

  <div class='row'>
	  <%= link_to "User info", edit_user_path(@user.id) %>
  </div>